body{
    background-color: black;
}

header{
    height: 100px;
    width: 100%;
    background-color: #f3c3b1;
    display: none;
}


@media (width > 800px) {
    header{
        display: block;
    }
}

p{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: #f3c3b1;
    padding: 20px;
}

section{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (width < 650px){
    section{
        flex-direction: column;
    }
}

footer{
    height: 100px;
    width: 100%;
    background-color: #f3c3b1;
    display: none;
}

@media print{
    footer{
        display: block;
    }
}