body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #f1f1f1;
    font-family: sans-serif;
}

section{
    width: 500px;
    padding: 10px;
}

img{
    width: 100px;
    height: 100px;
}

.first-day-temperature{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

sup{
    font-size: 2rem;
}

.container-infos{
    display: flex;
    justify-content: space-between;
}

.following-days{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width > 800px) {
    section{
        width: auto;
    }
    .following-days{
        flex-direction: column;
    }
    hr{
        display: none;
    }
    .following-days-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}